<mat-card>
  <mat-card-title>Sign in to Tutoring Hub</mat-card-title>
  <mat-card-content>
    <div class="displayTable">
      <div class="authBlock">
        <mat-form-field>
          <input type="text" matInput placeholder="User email" formControlName="userName" #userName required />
        </mat-form-field>

        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password" #userPassword required />
        </mat-form-field>

        <div class="button">
          <button (click)="AuthService.SignIn(userName.value, userPassword.value)" type="submit" mat-button
            mat-raised-button color="accent">
            Login
          </button>
        </div>

        <div class="button">
          <button type="button" type="submit" mat-button (click)="AuthService.GoogleAuth()" mat-raised-button
            color="accent">
            Log in with Google
          </button>
        </div>

        <div class="forgotPassword">
          <span class="forgotPass" routerLink="/forgot-password">Forgot Password?</span>
        </div>
      </div>

      <div class="redirectToSignUp">
        <span>Not registered yet?<span class="redirect" routerLink="/sign-up">
            Register</span></span>
      </div>
    </div>
  </mat-card-content>
</mat-card>