<mat-card>
  <mat-card-title>Forgot Password</mat-card-title>
  <mat-card-content>
    <div class="displayTable">
      <div class="authBlock">
        <mat-form-field>
          <input type="text" matInput placeholder="Email Address" formControlName="userEmail" #passwordResetEmail
            required />
        </mat-form-field>

        <div class="button">
          <button (click)="AuthService.ForgotPassword(passwordResetEmail.value)" type="submit" mat-button
            mat-raised-button color="accent">
            Reset Password
          </button>
        </div>

        <div class="redirectToLogin">
          <span class="redirect" routerLink="/sign-in">Got reset password mail? click here to Log In</span>
        </div>

      </div>
    </div>
  </mat-card-content>
</mat-card>