<mat-card>
  <mat-card-title>Signin</mat-card-title>
  <mat-card-content>
<div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
          <mat-form-field>
            <input type="text" matInput placeholder="User email" formControlName="userName" #userName required>
          </mat-form-field>
  
          <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password" #userPassword required>
          </mat-form-field>
  

          <div class="button">
            <button (click)="AuthService.SignIn(userName.value, userPassword.value)" type="submit" mat-button>Login</button>
          </div>
        
          <div class="button">
          <button type="button" type="submit" mat-button (click)="AuthService.GoogleAuth()">
            Log in with Google
          </button>
          </div>
  
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot Password?</span>
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>Not registered yet?<span class="redirect" routerLink="/sign-up"> Register</span></span>
      </div>
  
    </div>
  </div> 
</mat-card-content>
</mat-card>

<!-- 
  <mat-card>
    <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="submit()">
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" formControlName="username">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </p>

  <p *ngIf="error" class="error">
    {{ error }}
  </p>

  <div class="button">
    <button type="submit" mat-button>Login</button>
  </div>

</form>
</mat-card-content>
</mat-card> -->